<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FileCsv" value="D:\Book_csv.csv"/>
		<add key="ConnectionString" value="Server=(localdb)\MSSQLLocalDB;Database=TESTDB;user id=DbTest;password=P@ssw0rd02;" />
		<!--<add key="ConnectionString" value="Server=r4ad01;Database=miscdb;user id=glconnect;password=ledger;" />-->
		<add key="SpName" value="HistoryPolicyNonMotor" />
	</appSettings>
</configuration>